<!DOCTYPE HTML>
<html>
    <head>
        {% include 'components/head' %}
    </head>
    <body>
        {% include 'components/nav' %}

        <div class="content">
            {% block content %}
                {# Page content will go here #}
            {% endblock %}
        </div>

        {% include 'components/footer' %}
    </body>
    {% include 'components/scripts' %}
</html>
