* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

div {
    padding: 10px;
}

.nav {
    width: 100%;
    box-shadow: 0 0 5px;
    text-align: center;
    font-size: 22pt;
    line-height: 50px;
}

.nav p {
    margin: 0;
}

.prediction-container {
    width: 100%;
}
